@import "../../../node_modules/govuk-frontend/dist/govuk/settings/_spacing";
@import "../../../node_modules/govuk-frontend/dist/govuk/helpers/_spacing";

.pins-button-group {
	margin-top: govuk-spacing(9);
	display: flex;
	justify-content: space-between;
}
