@use "../../../node_modules/govuk-frontend/dist/govuk/helpers/media-queries" as
	mixins;
@use "../../../node_modules/govuk-frontend/dist/govuk/settings/media-queries" as
	settings;
@use "../../../node_modules/govuk-frontend/dist/govuk/settings/_colours-applied"
	as colors;
@use "../../1-settings/_settings.global.scss" as pins-colours;

.pins-header__navigation--align-right {
	@include mixins.govuk-media-query(
		$from: map-get(settings.$govuk-breakpoints, "desktop")
	) {
		float: right;
	}
}

.pins-header-domainname {
	margin: 0;
	text-align: left;
	line-height: 1.2;

	@include mixins.govuk-media-query(
		$from: map-get(settings.$govuk-breakpoints, "desktop")
	) {
		width: max-content;
		line-height: 1;
	}
}

.pins-header-navigation {
	text-align: left;

	.govuk-header__navigation-list {
		.govuk-header__navigation-item {
			.govuk-header__link {
				color: colors.govuk-colour("black");
			}

			&--active .govuk-header__link {
				color: pins-colours.$pins-colours-teal-100;
			}
		}
	}
}

.pins-header__logo {
	display: inline-block;
	height: 32px;
	width: 39px;
}

.pins-header__logo-crown {
	display: inherit;
	background-image: url("/images/govuk-crest-black.svg");
	background-size: 100% 100%;
	width: inherit;
	height: inherit;
	background-position: center center;
	background-repeat: no-repeat;
}
