@use "../../../node_modules/govuk-frontend/dist/govuk/settings/_colours-applied"
	as colors;

.pins-file-upload {
	&__container {
		&.error {
			border-left: 5px solid red;
			padding-left: 1rem;
		}
	}

	&__instructions {
		> * {
			display: block;
			margin-bottom: 1rem;
		}
	}

	&__button {
		border: 1px solid colors.govuk-colour("mid-grey");
		background: colors.govuk-colour("light-grey");
		color: colors.govuk-colour("black");
		padding: 0 5px;
		border-radius: 2px;
		font-size: 1.1875rem;
		box-sizing: border-box;
		line-height: 1;
		box-shadow: none;
		margin: 0;
		height: 2rem;
		&:hover {
			background-color: colors.govuk-colour("mid-grey");
			color: colors.govuk-colour("black");
		}

		&:focus,
		&-focus {
			border: 2px solid colors.govuk-colour("black") !important;
		}
	}

	&__files-rows {
		padding: 0;
	}

	&__file-row {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid colors.govuk-colour("mid-grey");
		padding: 0.6rem 0;
		> * {
			margin: 0;
		}
	}

	&__remove {
		color: colors.govuk-colour("blue");
		cursor: pointer;
		font-size: 1.1875rem;
		background: none;
		border: 0;
	}

	&__progress {
		margin-left: 1rem;
		line-height: 2;
	}

	&__dropzone {
		padding: 60px 15px;
		outline: 2px dashed colors.govuk-colour("mid-grey");
		transition:
			outline-offset 0.1s ease-in-out,
			background-color 0.1s linear;

		&--dragover {
			outline-color: colors.govuk-colour("light-grey", $legacy: "grey-2");
		}

		&-text {
			line-height: 2rem;
			margin-bottom: 0;
			margin-right: 0.5rem;
			display: none;
		}
	}

	&__upload {
		display: flex;

		&.dropzone-disabled {
			padding: 30px 0 20px;
		}
	}
}

.js-enabled {
	.pins-file-upload {
		&__dropzone-text {
			display: unset;
		}
	}
}
