.pins-show-more {
	display: block;
	width: 100%;

	&__toggle {
		border: none;
		margin: 0;
		padding: 0;
		background: transparent;
		cursor: pointer;
		font-size: 1.1875rem;
		color: #1d70b8;
		text-decoration: underline;
	}

	mark {
		background-color: #f4cdc6;
	}
}
