{
	"printWidth": 100,
	"tabWidth": 2,
	"singleQuote": true,
	"useTabs": true,
	"semi": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"arrowParens": "always",
	"plugins": ["prettier-plugin-organize-imports", "prettier-plugin-prisma"]
}
