*.njk
*.yaml
*.yml
README.md
appeals/api/src/server/notify/**/*.md
appeals/api/src/server/utils/db-client/*
appeals/e2e/cypress/fixtures/*
appeals/e2e/cypress/support/browserAuthData/*
appeals/web/src/server/static/scripts/*
appeals/web/src/server/static/styles/*
node_modules
package-lock.json
package.json
packages/database/src/client/*
tmp
