parameters:
  - name: environment
    displayName: Environment
    type: string
    default: Dev
    values:
      - Dev
      - Test
      - Staging
      - Training
      - Prod
  - name: dryRunOnly
    displayName: Dry run only
    type: string
    values:
      - true
      - false
  - name: maxExpectedCasesToDelete
    displayName: Max expected test cases to delete
    type: string
    default: '40'

pool: pins-odt-agent-pool

pr: none

trigger: none

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Planning-Inspectorate
      name: Planning-Inspectorate/common-pipeline-templates
      ref: refs/tags/release/3.24.2

variables:
  - template: variables/environments/${{ lower(parameters.environment )}}.yml@templates
  - group: pipeline_secrets

jobs:
  - deployment: Clear_Data
    displayName: Clear test data on ${{ parameters.environment }}
    environment: ${{ parameters.environment }}
    strategy:
      runOnce:
        deploy:
          steps:
            - download: none
            - checkout: self
            - template: steps/node_script.yml@templates
              parameters:
                script: npm ci
                nodeVersion: 22
            - template: steps/azure_auth.yml@templates
            # kv name is different in the training env (had to be shorter)
            - bash: |
                if [[ $ENVIRONMENT == "training" ]]; then
                  echo "Name: pins-kv-appeals-bo-train (env: $ENVIRONMENT)"
                  echo "##vso[task.setvariable variable=kvName;]pins-kv-appeals-bo-train"
                elif [[ $ENVIRONMENT == "staging" ]]; then
                  echo "Name: pins-kv-appeals-bo-stage (env: $ENVIRONMENT)"
                  echo "##vso[task.setvariable variable=kvName;]pins-kv-appeals-bo-stage"
                else
                  echo "Name: pins-kv-appeals-bo-$ENVIRONMENT (env: $ENVIRONMENT)"
                  echo "##vso[task.setvariable variable=kvName;]pins-kv-appeals-bo-$ENVIRONMENT"
                fi
              displayName: Set KV name
              env:
                ENVIRONMENT: $(ENVIRONMENT)
            - template: steps/azure_get_secrets.yml@templates
              parameters:
                keyVaultName: $(kvName)
                secrets:
                  - name: appeals-bo-sql-admin-connection-string
                    variable: appeals-bo-sql-admin-connection-string
            - template: steps/node_script.yml@templates
              parameters:
                environmentVariables:
                  DATABASE_URL: $(appeals-bo-sql-admin-connection-string)
                  DRY_RUN_ONLY: ${{parameters.dryRunOnly}}
                  MAX_EXPECTED_CASES_TO_DELETE: ${{parameters.maxExpectedCasesToDelete}}
                script: npm run db:seed:clear-test-data
                workingDirectory: $(Build.Repository.LocalPath)/appeals/api
    workspace:
      clean: all
