trigger:
  branches:
    include:
      # trigger for merge queue branches
      - gh-readonly-queue/*

pr:
  branches:
    include:
      - '*'
  paths:
    exclude:
      - infrastructure

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Planning-Inspectorate
      name: Planning-Inspectorate/common-pipeline-templates
      ref: refs/tags/release/3.24.2

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    gitFetchDepth: 0
    globalVariables:
      - template: azure-pipelines-variables.yml@self
    validationJobs:
      - name: Run Linting & Tests
        variables:
        - name: test-script
          ${{ if startsWith(variables['Build.SourceBranch'], 'refs/heads/gh-readonly-queue') }}:
            value: npm run test
          ${{ else }}:
            value: npm run test:cov
        steps:
          - task: Cache@2
            inputs:
              key: 'npm | "$(Agent.OS)" | package-lock.json'
              restoreKeys: |
                npm | "$(Agent.OS)" | package-lock.json
              path: $(npm_config_cache)
            displayName: Cache NPM
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 22
              script: npm ci
              environmentVariables:
                npm_config_cache: $(npm_config_cache)
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 22
              script: npm run commitlint
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 22
              script: npm run tscheck
              environmentVariables:
                TURBO_TEAM: $(TURBO_TEAM)
                TURBO_API: $(TURBO_API)
                TURBO_TOKEN: $(TURBO_TOKEN)
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 22
              script: npm run lint:js
          - template: ../steps/node_script.yml
            parameters:
                nodeVersion: 22
                script: npm run format-check
          - template: ../steps/node_script.yml
            parameters:
              script: $(test-script)
              nodeVersion: 22
              environmentVariables:
                TURBO_TEAM: $(TURBO_TEAM)
                TURBO_API: $(TURBO_API)
                TURBO_TOKEN: $(TURBO_TOKEN)
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 22
              script: npm run build:release
              environmentVariables:
                TURBO_TEAM: $(TURBO_TEAM)
                TURBO_API: $(TURBO_API)
                TURBO_TOKEN: $(TURBO_TOKEN)
