version: '3.7'
services:
    db:
        image: mcr.microsoft.com/mssql/server:2022-latest
        container_name: db
        environment:
            - 'ACCEPT_EULA=Y'
            - 'MSSQL_SA_PASSWORD=SqlServer01'
        ports:
            - 1433:1433
    api:
        container_name: api
        build:
            context: .
            dockerfile: appeals/api/Dockerfile
            args:
                GIT_SHA: ${GIT_SHA}
        env_file:
            - ./appeals/api/.env.e2e
        environment:
            - 'AZURE_BLOB_EMULATOR_SAS_HOST=${AZURE_BLOB_EMULATOR_SAS_HOST}'
            - 'NODE_EXTRA_CA_CERTS=/usr/local/share/ca-certificates/azurite.crt'
        volumes:
             - ./appeals/web/certificate.pem:/usr/local/share/ca-certificates/azurite.crt
        ports:
            - 3000:3000
    web:
        container_name: web
        build:
            context: .
            dockerfile: appeals/web/Dockerfile
            args:
                GIT_SHA: ${GIT_SHA}
        env_file:
            - ./appeals/web/.env.e2e
        environment:
            - 'AUTH_CLIENT_SECRET=${AUTH_CLIENT_SECRET}'
            - 'AUTH_CLIENT_ID=${AUTH_CLIENT_ID}'
            - 'AUTH_TENANT_ID=${AUTH_TENANT_ID}'
            - 'SSL_CERT_FILE=certificate.pem'
            - 'SSL_KEY_FILE=certificate-key.pem'
            - 'AZURE_BLOB_EMULATOR_SAS_HOST=${AZURE_BLOB_EMULATOR_SAS_HOST_WEB}'
        ports:
            - 8080:8080
    pins_azurite:
        image: mcr.microsoft.com/azure-storage/azurite
        container_name: pins_azurite
        command: >
            azurite
            --blobHost 0.0.0.0
            --queueHost 0.0.0.0
            --tableHost 0.0.0.0
            --cert /certs/certificate.pem
            --key /certs/certificate-key.pem
            --oauth basic
            --skipApiVersionCheck
        volumes:
            - ./appeals/web:/certs
        ports:
            - "10000:10000"
            - "10001:10001"
            - "10002:10002"
        restart: unless-stopped

