{% block head %}
	<link rel="stylesheet" href="{{ pathToCss | stripQueryParamsDev }}"/>
  <script defer="defer" src="{{ pathToJs | stripQueryParamsDev }}"></script>

	<!-- Google tag (gtag.js) -->
	<script {% if cspNonce %}nonce={{ cspNonce }}{% endif %} async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsId | safe }}"></script>
	<script {% if cspNonce %}nonce={{ cspNonce }}{% endif %}>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', '{{ googleAnalyticsId | safe }}');
	</script>
{% endblock head %}
