{% block head %}
  <link rel="stylesheet" href="{{ pathToCss | stripQueryParamsDev }}"/>
  <script defer="defer" src="{{ pathToJs | stripQueryParamsDev }}"></script>

  {% if googleTagManagerId %}
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ googleTagManagerId | safe }}');</script>
      <!-- End Google Tag Manager -->
    {% endif %}

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsId | safe }}"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', '{{ googleAnalyticsId | safe }}');
	</script>
{% endblock head %}
