{% extends "app/layouts/app.layout.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{%- from "../components/page-heading.njk" import pageHeading -%}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{% if errorSummary %}
				{{
					govukErrorSummary({
						titleText: "There is a problem",
						errorList: errorSummary
					})
				}}
			{% elseif errors %}
				{{
					govukErrorSummary({
						titleText: "There is a problem",
						errorList: errors | mapToErrorSummary
					})
				}}
			{% endif %}
		</div>
	</div>
	{% block pageHeading %}
		{{ pageHeading({
			preHeading: pageCaption,
			heading: heading,
			headingClasses: 'govuk-heading-xl'
		}) }}
	{% endblock %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{% block pageContent %}{% endblock %}
		</div>
	</div>
{% endblock %}
