{% extends "app/layouts/app-two-column.layout.njk" %}

{% set pageTitle = titleCopy if titleCopy else 'Page not found' %}
{% set heading =  pageTitle %}
{% set bodyCopy = bodyCopy if bodyCopy else ['If you typed the web address, check it is correct.', 'If you pasted the web address, check you copied the entire address.'] %}

{% block pageContent %}
	{%- for bodyCopyItem in bodyCopy -%}
		<p class="govuk-body">
			{{ bodyCopyItem | safe }}
		</p>
	{%- endfor -%}
	<p class="govuk-body">
		<a href="https://has-appeal.herokuapp.com/help/contact" class="govuk-link">Contact the Planning Inspectorate Customer Support</a> if the problem persists
	</p>
{% endblock %}
