NODE_ENV=development
PORT=3000
DATABASE_URL="sqlserver://127.0.0.1:1433;database=pins_development;user=sa;password=<YourStrong@Passw0rd>;trustServerCertificate=true"
BO_BLOB_CONTAINER=document-service-uploads
BO_BLOB_STORAGE_ACCOUNT=https://127.0.0.1:10000/
SRV_HORIZON_URL=http://localhost:4000
MOCK_HORIZON=false
TEST_MAILBOX=AppealPlanningDecisionTest@planninginspectorate.gov.uk
GOV_NOTIFY_API_KEY=

AZURE_BLOB_EMULATOR_SAS_HOST=
AZURE_BLOB_USE_EMULATOR=true
NODE_TLS_REJECT_UNAUTHORIZED=0

GOV_NOTIFY_APPEAL_CONFIRMED_ID="783f94cc-1d6d-4153-8ad7-9070e449a57c"
GOV_NOTIFY_APPEAL_INCOMPLETE_ID="f9cbd646-be00-45e2-96fc-f47e585e5b5e"
GOV_NOTIFY_APPEAL_INVALID_ID="59c8337a-e854-4fc4-8c83-aa958b91bd99"
GOV_NOTIFY_APPEAL_START_DATE_CHANGE_APPELLANT_ID="8e650ba9-ffb9-4fa8-bfb7-96c9bdebd8ec"
GOV_NOTIFY_APPEAL_START_DATE_CHANGE_LPA_ID="8ccb2010-c1b6-4345-bde3-cc17f9d786ce"
GOV_NOTIFY_APPEAL_TYPE_CHANGED_NON_HAS_ID="32201ca6-1fcc-4be0-b067-427c57327be9"
GOV_NOTIFY_APPEAL_VALID_START_CASE_APPELLANT_ID="1e5169b5-88b4-4d86-bbe5-77cc464ffc04"
GOV_NOTIFY_APPEAL_VALID_START_CASE_LPA_ID="c4701212-4b6a-4b55-801a-c86c7dbea54b"
GOV_NOTIFY_APPEAL_WITHDRAWN_APPELLANT_ID="5f58736a-bd1b-4215-a288-0d5f25ceab43"
GOV_NOTIFY_APPEAL_WITHDRAWN_LPA_ID="6eb8dc75-e141-4e06-a8ee-241e7f7c448c"
GOV_NOTIFY_DECISION_IS_ALLOWED_SPLIT_DISMISSED_APPELLANT_ID="4accd6da-798f-4d68-9367-6058194bc511"
GOV_NOTIFY_DECISION_IS_ALLOWED_SPLIT_DISMISSED_LPA_ID="09dbb936-bc1a-400b-a2f8-711078921bf5"
GOV_NOTIFY_DECISION_IS_INVALID_APPELLANT_ID="bd117483-e7fe-4655-8f57-cf597ad57710"
GOV_NOTIFY_DECISION_IS_INVALID_LPA_ID="a0cb542f-24d3-4b22-826b-1e012892f922"
GOV_NOTIFY_LPAQ_COMPLETE_ID="c571ee53-69c8-400e-a4c0-44ded262a081"
GOV_NOTIFY_LPAQ_INCOMPLETE_ID="4701bc3c-2f24-4ed8-8841-14d93c3b9964"
GOV_NOTIFY_SITE_VISIT_CHANGE_ACCOMPANIED_DATE_CHANGE_APPELLANT_ID="3bd2cd75-bf1e-4256-8a4c-5c5739bc0ecc"
GOV_NOTIFY_SITE_VISIT_CHANGE_ACCOMPANIED_DATE_CHANGE_LPA_ID="5d23f669-a1d2-4232-9171-10f956dfb400"
GOV_NOTIFY_SITE_VISIT_CHANGE_ACCOMPANIED_TO_ACCESS_REQUIRED_APPELLANT_ID="f9bd99e7-f3f1-4836-a2dc-018dfdece854"
GOV_NOTIFY_SITE_VISIT_CHANGE_ACCOMPANIED_TO_ACCESS_REQUIRED_LPA_ID="15acdaee-ca9d-4001-bb93-9f50ab29226d"
GOV_NOTIFY_SITE_VISIT_CHANGE_ACCOMPANIED_TO_UNACCOMPANIED_APPELLANT_ID="5056b6fe-095f-45ad-abb5-0a582ef274c3"
GOV_NOTIFY_SITE_VISIT_CHANGE_ACCOMPANIED_TO_UNACCOMPANIED_LPA_ID="15acdaee-ca9d-4001-bb93-9f50ab29226d"
GOV_NOTIFY_SITE_VISIT_CHANGE_ACCESS_REQUIRED_DATE_CHANGE_APPELLANT_ID="1b963d2c-ae50-45c4-abbb-149481c69074"
GOV_NOTIFY_SITE_VISIT_CHANGE_ACCESS_REQUIRED_TO_ACCOMPANIED_APPELLANT_ID="0b7d9246-99b8-43d7-8205-02a3c9762691"
GOV_NOTIFY_SITE_VISIT_CHANGE_ACCESS_REQUIRED_TO_ACCOMPANIED_LPA_ID="03a6616e-3e0c-4f28-acd5-f4e873847457"
GOV_NOTIFY_SITE_VISIT_CHANGE_ACCESS_REQUIRED_TO_UNACCOMPANIED_APPELLANT_ID="a4964a74-af84-45c2-a61b-162a92f94087"
GOV_NOTIFY_SITE_VISIT_CHANGE_UNACCOMPANIED_TO_ACCESS_REQUIRED_APPELLANT_ID="f9bd99e7-f3f1-4836-a2dc-018dfdece854"
GOV_NOTIFY_SITE_VISIT_CHANGE_UNACCOMPANIED_TO_ACCOMPANIED_APPELLANT_ID="771691cb-81cc-444a-8db0-dbbd4f66b61f"
GOV_NOTIFY_SITE_VISIT_CHANGE_UNACCOMPANIED_TO_ACCOMPANIED_LPA_ID="03a6616e-3e0c-4f28-acd5-f4e873847457"
GOV_NOTIFY_SITE_VISIT_SCHEDULE_ACCESS_REQUIRED_APPELLANT_ID="44ff947d-f93d-4333-9366-97ab7a5aa722"
GOV_NOTIFY_SITE_VISIT_SCHEDULE_ACCOMPANIED_APPELLANT_ID="4002346f-fd65-42fe-b663-36600b85080c"
GOV_NOTIFY_SITE_VISIT_SCHEDULE_ACCOMPANIED_LPA_ID="03a6616e-3e0c-4f28-acd5-f4e873847457"
GOV_NOTIFY_SITE_VISIT_SCHEDULE_UNACCOMPANIED_APPELLANT_ID="a33bb800-56d9-46a4-ba64-35d9d0263666"
GOV_NOTIFY_VALID_APPELLANT_CASE_ID="3b4b74b4-b604-411b-9c98-5be2c6f3bdfd"
