<div class="header-container">
    {% if logoDataUri %}<img src="{{ logoDataUri }}" alt="Crown Logo" class="header-logo">{% endif %}
    <div class="header-text">Planning inspectorate - manage your appeals</div>
</div>
<div class="beta-banner">
    <strong>BETA</strong> This is a new service - your <a href="#" class="feedback-link" target="_blank">feedback</a> will help us improve it.
</div>
