<div class="header-container">
    {% if logoDataUri %}<img src="{{ logoDataUri }}" alt="Crown Logo" class="header-logo">{% endif %}
    <div class="header-text">Planning inspectorate - manage your appeals</div>
</div>
<div class="beta-banner">
    <strong>BETA </strong> This is a new service - your <a href="https://forms.office.com.mcas.ms/Pages/ResponsePage.aspx?id=mN94WIhvq0iTIpmM5VcIjYt1ax_BPvtOqhVjfvzyJN5UQzNVQjdaV0U0TDdTOE1LNktBT0w5NEQ1Vy4u" class="feedback-link" target="_blank">feedback</a> will help us improve it.
</div>
