
{% macro globalHeader(domainType, domainName, containerClasses, pageIsPersonalList, pageIsNationalList) %}
	<header class="govuk-header govuk-!-margin-bottom-0" id="pins-applications-header" role="banner" data-module="govuk-header">
		<div class="{{containerClasses}}">
			<div class="pins-row">
				<div class="pins-column--left">
					<div class="pins-header__logo">
          				<i class="pins-header__logo-crown"> </i>
					</div>
					<span>Planning Inspectorate</span>
				</div>
				<div class="pins-column--central">
					<h1 class="pins-header-domainname govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">
						{{ domainName }}
					</h1> 
					<nav class="govuk-header__navigation pins-header-navigation" aria-label="Menu">
						<ul class="govuk-header__navigation-list">
							<li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if pageIsPersonalList else '' }}">
								<a class="govuk-header__link" href="/appeals-service/personal-list">Assigned to me</a>
							</li>
							<li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if pageIsNationalList else '' }}">
								<a class="govuk-header__link" href="/appeals-service/all-cases">All cases</a>
							</li>
							<li class="govuk-header__navigation-item">
								<a class="govuk-header__link" href="/auth/signout">Sign out</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
{% endmacro %}
