{%- extends "app/layouts/app.layout.njk" -%}

{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "../components/add-another-reason.njk" import addAnotherReason -%}

{%- set pageTitle = "Why is the appeal " + notValidStatus -%}

{%- set backLinkUrl -%}
	/appeals-service/appeal-details/{{ appeal.id }}/appellant-case
{%- endset -%}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-l govuk-!-margin-bottom-3">Appeal {{ appeal.shortReference }}</span>
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	{%- for option in reasonOptions -%}
		{%- if option.addAnother -%}
			{%- set addAnotherReasonHtml = addAnotherReason({
				textItems: option.addAnother.textItems,
				inputName: notValidStatus + 'Reason-' + option.value,
				inputId: notValidStatus + '-reason-' + option.value,
				labelText: 'Which part is incorrect or incomplete?'
			}) -%}
			{%- set _ = option | addConditionalHtml(addAnotherReasonHtml) -%}
		{%- endif -%}
	{%- endfor -%}
	<form method="post" novalidate="novalidate">
		{{ govukCheckboxes({
			name: notValidStatus + "Reason",
			idPrefix: notValidStatus + "-reason",
			fieldset: {
				legend: {
					text: "Why is the appeal " + notValidStatus + "?",
					isPageHeading: true,
					classes: 'govuk-fieldset__legend--l'
				}
			},
			items: reasonOptions
		}) }}
		{{ govukButton({
			text: "Continue",
			type: "submit"
		}) }}
	</form>
{%- endblock -%}
