{%- extends "app/layouts/app.layout.njk" -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "../../app/components/page-heading.njk" import pageHeading -%}

{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = pageContent.title if pageContent.title else '' -%}
{%- set rows = [] -%}
{%- for log in pageContent.auditTrails -%}
	{%- set row = [
		{ html: [log.date, '<br><span>', log.time, '</span>'] | join },
		{ html: log.details | safe },
		{ text: log.user }
	] -%}
	{%- set rows = rows | concat([row]) -%}
{%- endfor -%}

{%- block pageHeading -%}
	{{ pageHeading({
    preHeading: "Appeal " + pageContent.caseReference,
    heading: "Case history",
		headingClasses: "govuk-heading-l govuk-!-margin-bottom-8"
  }) }}
{%- endblock -%}

{%- block pageContent -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{{
				govukTable({
					head: [
						{ text: "Date and time", classes: "govuk-!-width-one-quarter" },
						{ text: "Details", classes: "govuk-!-width-two-quarters" },
						{ text: "User", classes: "govuk-!-width-one-quarter" }
					],
					rows: rows
				})
			}}
		</div>
	</div>
{%- endblock -%}
