{%- extends "app/layouts/app-two-column.layout.njk" -%}

{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/inset-text/macro.njk" import govukInsetText -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "../../app/components/page-heading.njk" import pageHeading -%}

{%- set pageTitle = "Are you sure?" -%}

{%- set backLinkUrl -%}
	/appeals-service/appeal-details/{{ appeal.id }}/assign-user/{{ 'inspector' if isInspector else 'case-officer' }}
{%- endset -%}

{%- block pageHeading -%}
	{{ pageHeading({
    preHeading: "Appeal " + appeal.shortReference,
    heading: ("Remove" if isUnassign else "Assign") + " this " + ("inspector" if isInspector else "case officer")
  }) }}
{%- endblock -%}

{%- block pageContent -%}
	<form name="confirmAssignOrUnassignUser" method="post" novalidate="novalidate">
		{{ govukRadios({
			name: "confirm",
			idPrefix: "confirm",
			fieldset: {
				legend: {
					text: user.email,
					isPageHeading: false,
					classes: "govuk-fieldset__legend--m"
				}
			},
			items: [
				{
					value: "yes",
					text: "Yes"
				},
				{
					value: "no",
					text: "No"
				}
			]
			})
		}}
		{%- if existingUser and not isInspector -%}
			{{ govukInsetText({
				html: '<p>Only one case officer can be assigned. <strong>' + existingUser.email + '</strong> will be replaced as the previous case officer.</p>'
			}) }}
		{%- endif -%}
		{{ govukButton({
			text: "Continue"
		}) }}
	</form>
{%- endblock -%}
