{%- extends "app/layouts/app-two-column.layout.njk" -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "../../app/components/page-heading.njk" import pageHeading -%}

{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = pageContent.title if pageContent.title else 'Change' -%}

{%- block pageHeading -%}
	{{ pageHeading(pageContent) }}
{%- endblock -%}

{%- block pageContent -%}
	<form method="POST" novalidate="novalidate">
		{%- for component in pageContent.pageComponents -%}
			{%- include "../components/page-component.njk" -%}
		{%- endfor -%}
		<p class="govuk-body">We'll send an email to the appellant and LPA to tell them about the decision.</p>
		{{ govukButton({
			text: pageContent.submitButtonText if pageContent.submitButtonText else "Continue",
			type: "submit"
		}) }}
	</form>
{%- endblock -%}
