{%- extends "app/layouts/app.layout.njk" -%}

{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "../components/add-another-reason.njk" import addAnotherReason -%}
{%- from "../../app/components/page-heading.njk" import pageHeading -%}

{%- set pageTitle = "Why is the LPA questionnaire incomplete" -%}

{%- set backLinkUrl -%}
	/appeals-service/appeal-details/{{ appeal.id }}/lpa-questionnaire/{{ lpaQuestionnaireId }}
{%- endset -%}

{%- block pageHeading -%}
	{{ pageHeading({
		preHeading: 'Appeal ' + appeal.shortReference
	}) }}
{%- endblock -%}

{%- block pageContent -%}
	{%- for option in reasonOptions -%}
		{%- if option.addAnother -%}
			{%- set addAnotherReasonHtml = addAnotherReason({
				error: option.error,
				textItems: option.addAnother.textItems,
				inputName: 'incompleteReason-' + option.value,
				inputId: 'incomplete-reason-' + option.value,
				labelText: 'Which part is incorrect or incomplete?'
			}) -%}
			{%- set _ = option | addConditionalHtml(addAnotherReasonHtml) -%}
		{%- endif -%}
	{%- endfor -%}
	<form method="post" novalidate="novalidate">
		{{ govukCheckboxes({
			name: "incompleteReason",
			idPrefix: "incomplete-reason",
			fieldset: {
				legend: {
					text: "Why is the LPA questionnaire incomplete?",
					isPageHeading: true,
					classes: 'govuk-fieldset__legend--l'
				}
			},
			items: reasonOptions
		}) }}
		{{ govukButton({
			text: "Continue",
			type: "submit"
		}) }}
	</form>
{%- endblock -%}
