{%- extends "app/layouts/app-two-column.layout.njk" -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "../components/add-another-reason.njk" import addAnotherReason -%}
{%- from "../../app/components/page-heading.njk" import pageHeading -%}

{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = pageContent.title if pageContent.title else 'Change' -%}

{%- block pageHeading -%}
	{{ pageHeading({
		preHeading: pageContent.preHeading
	}) }}
{%- endblock -%}

{%- block pageContent -%}

	{%- for option in rejectionReasons -%}

		{%- if option.hasText -%}
			{%- set addAnotherReasonHtml = addAnotherReason({
				textItems: option.textItems,
				inputName: 'rejectionReason-' + option.value,
				inputId: 'rejection-reason-' + option.value,
        		labelText: 'Enter a reason',
        		error: option.error
			}) -%}
			{%- set _ = option | addConditionalHtml(addAnotherReasonHtml) -%}
		{%- endif -%}
	{%- endfor -%}
	<form method="post" novalidate="novalidate">
		{{ govukCheckboxes({
			name: "rejectionReason",
			idPrefix: "rejection-reason",
			fieldset: {
				legend: {
					text: pageContent.heading,
					isPageHeading: true,
					classes: 'govuk-fieldset__legend--l'
				}
			},
			hint: {
				text: pageContent.hint
			},
			items: rejectionReasons
		}) }}

		{{ govukButton({
			text: pageContent.submitButtonText if pageContent.submitButtonText else "Continue",
			type: "submit",
			preventDoubleClick: true
		}) }}
	</form>
{%- endblock -%}
