{%- extends "app/layouts/app.layout.njk" -%}

{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/inset-text/macro.njk" import govukInsetText -%}
{%- from "../../app/components/page-heading.njk" import pageHeading -%}

{%- set pageTitle = pageContent.title if pageContent.title else "Update due date" -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set backLinkUrl = pageContent.backLinkUrl -%}

{%- block pageHeading -%}
	{{ pageHeading({
		preHeading: pageContent.preHeading,
		heading: pageContent.heading,
		headingClasses: 'govuk-heading-l'
	}) }}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{%- for component in pageContent.pageComponents -%}
				{%- if component.type !== 'date-input' -%}
					{%- include "../components/page-component.njk" -%}
				{%- endif -%}
			{%- endfor -%}
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	<form method="post" novalidate="novalidate">
		{%- set renderedDateInputPageComponent = false -%}
		{%- for component in pageContent.pageComponents -%}
			{%- if component.type === 'date-input' -%}
				{%- include "../components/page-component.njk" -%}
				{%- set renderedDateInputPageComponent = true -%}
			{%- endif -%}
		{%- endfor -%}
		{%- if not renderedDateInputPageComponent -%}
			{{ govukDateInput({
				id: "due-date",
				namePrefix: "due-date",
				hint: {
					text: "For example, 27 3 2007"
				}
			}) }}
		{%- endif -%}
		{% if pageContent.skipButtonUrl %}
			<p class="govuk-body">If the existing due date still applies, please skip to the confirmation screen.</p>
		{% endif %}
		<div class="govuk-button-group">
			{%- set defaultButtonProperties = {
				text: "Save and continue",
				type: "submit"
			} -%}
			{{ govukButton(pageContent.submitButtonProperties if pageContent.submitButtonProperties else defaultButtonProperties) }}
			{% if pageContent.skipButtonUrl %}
				{{ govukButton({
					text: "Skip",
					href: pageContent.skipButtonUrl,
					classes: "govuk-button--secondary"
				}) }}
			{% endif %}
		</div>
	</form>
{%- endblock -%}
