{%- extends "app/layouts/app.layout.njk" -%}

{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = pageContent.title if pageContent.title else '' -%}
{%- from "../../app/components/page-heading.njk" import pageHeading -%}

{%- block pageHeading -%}
  {{ pageHeading({
    preHeading: pageContent.preHeading,
    heading: pageContent.heading,
		headingClasses: "govuk-heading-l govuk-!-margin-bottom-9"
  }) }}
{%- endblock -%}

{%- block pageContent -%}
	{%- for component in pageContent.pageComponents -%}
		{%- include "../components/page-component.njk" -%}
	{%- endfor -%}
{%- endblock -%}
