{% extends "app/layouts/app.layout.njk" %}

{% from 'app/components/file-uploader.component.njk' import fileUploader %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{%- from "app/components/page-heading.njk" import pageHeading -%}
{% set serviceName = 'Casework Back Office System' %}

{% block pageTitle %}
	{{ pageTitle + ' - ' if pageTitle else '' }}{{ serviceName }}
{% endblock %}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds top-errors-hook"></div>
	</div>
  {{ pageHeading({
    preHeading: preHeadingText,
    heading: pageHeadingText if pageHeadingText else "Upload files"
  }) }}
{%- endblock -%}

{%- set backLinkUrl -%}
	{{ backButtonUrl }}
{%- endset -%}

{% block pageContent %}
	{%- if displayLateEntryContent -%}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				{%- include "../../app/includes/late-entry-information.njk" -%}
			</div>
		</div>
	{%- endif -%}
	{%- for component in pageBodyComponents -%}
		{%- include "../components/page-component.njk" -%}
	{%- endfor -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{{ fileUploader({
				text: 'Continue',
				formId: 1,
				caseId: appealId,
				caseReference: appealReference,
				folderId: folderId,
				documentId: documentId,
				documentOriginalFileName: documentOriginalFileName,
				documentVersion: documentVersion,
				documentType: documentType,
				documentStage: documentStage,
				blobStorageHost: blobStorageHost,
				useBlobEmulator: useBlobEmulator,
				accessToken: accessToken,
				blobStorageContainer: blobStorageContainer,
				nextPageUrl: nextPageUrl if nextPageUrl else (['/appeals-service/appeal-details/', caseId] | join),
				allowedTypes: allowedTypes if allowedTypes|length else (['pdf','doc','docx','ppt','pptx','xls','xlsx','msg','jpg','jpeg','mpeg','mp3','mp4','mov','png','tif','tiff' ]),
				multiple: multiple,
				uploadContainerHeadingText: uploadContainerHeadingText if uploadContainerHeadingText else (pageHeadingText if pageHeadingText else "Upload files"),
				documentTitle: documentTitle,
				displayCorrectFolderConfirmationContent: displayCorrectFolderConfirmationContent,
				uncommittedFiles: uncommittedFiles,
				filenamesInFolder: filenamesInFolder
			}) }}
		</div>
	</div>
{% endblock %}
