{%- extends "app/layouts/app.layout.njk" -%}
{%- from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{%- from "../../app/components/page-heading.njk" import pageHeading -%}

{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = pageContent.title if pageContent.title else '' -%}

{%- set errorSummaryPageComponents = []-%}
{%- set notificationBannerPageComponents = []-%}

{%- for component in pageContent.pageComponents -%}
	{%- if component.type === 'error-summary' -%}
		{%- set _ = errorSummaryPageComponents.push(component) -%}
	{%- endif -%}
	{%- if component.type === 'notification-banner' -%}
		{%- set _ = notificationBannerPageComponents.push(component) -%}
	{%- endif -%}
{%- endfor -%}

{%- block pageHeading -%}
	{%- if errorSummaryPageComponents | length -%}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
			{%- for component in errorSummaryPageComponents -%}
				{%- include "../components/page-component.njk" -%}
			{%- endfor -%}
			</div>
		</div>
	{%- endif -%}
	{%- if notificationBannerPageComponents | length -%}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
			{%- for component in notificationBannerPageComponents -%}
				{%- include "../components/page-component.njk" -%}
			{%- endfor -%}
			</div>
		</div>
	{%- endif -%}
	{{ pageHeading(pageContent) }}
{%- endblock -%}

{%- block pageContent -%}
	{%- for component in pageContent.pageComponents -%}
		{%- if component.type !== 'error-summary' and component.type !== 'notification-banner' -%}
			{%- include "../components/page-component.njk" -%}
		{%- endif -%}
	{%- endfor -%}
{%- endblock -%}
