{%- extends "app/layouts/app.layout.njk" -%}
{%- from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/pagination/macro.njk" import govukPagination -%}
{%- from "../app/components/page-heading.njk" import pageHeading -%}

{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = pageContent.title if pageContent.title else '' -%}

{%- block pageHeading -%}
	{%- set errorSummaries = [] -%}
	{%- set notificationBanners = [] -%}
	{%- for component in pageContent.pageComponents -%}
		{%- if component.type === 'error-summary' -%}
			{%- set _ = errorSummaries.push(component) -%}
		{%- endif -%}
		{%- if component.type === 'notification-banner' -%}
			{%- set _ = notificationBanners.push(component) -%}
		{%- endif -%}
	{%- endfor -%}

	{%- if errorSummaries | length -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{%- for component in errorSummaries -%}
				{{ govukErrorSummary(component.parameters) }}
			{%- endfor -%}
		</div>
	</div>
	{%- endif -%}
	{%- if notificationBanners | length -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
			{%- for component in notificationBanners -%}
				{{ govukNotificationBanner(component.parameters | assign({ classes: "govuk-!-margin-bottom-5" })) }}
			{%- endfor -%}
		</div>
	</div>
	{%- endif -%}
	{{ pageHeading(pageContent) }}
{%- endblock -%}
{%- block pageContent -%}
	{%- set formComponents = [] -%}
	{%- for component in pageContent.pageComponents -%}
		{%- if component.type === 'radios' or component.type === 'checkboxes' or (component.type === 'inset-text' and formComponents | length) or (component.type === 'warning-text' and formComponents | length) -%}
			{%- set _ = formComponents.push(component) -%}
		{%- elif component.type !== 'error-summary' and component.type !== 'notification-banner' -%}
			{%- include "../appeals/components/page-component.njk" -%}
		{%- endif -%}
	{%- endfor -%}
	{%- if pageContent.forceRenderSubmitButton or formComponents | length -%}
		<div class="govuk-grid-row">
			<div class="{{ pageContent.formWrapperColumnClass if pageContent.formWrapperColumnClass else 'govuk-grid-column-full' }}">
				<form action="" method="POST" novalidate>
					{%- for component in formComponents -%}
						{%- include "../appeals/components/page-component.njk" -%}
					{%- endfor -%}
					{{ govukButton({
						text: pageContent.submitButtonText if pageContent.submitButtonText else "Continue"
					}) }}
				</form>
			</div>
		</div>
	{%- endif -%}
	{%- if pageContent.postPageComponents -%}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				{%- for component in pageContent.postPageComponents -%}
					{%- include "../appeals/components/page-component.njk" -%}
				{%- endfor -%}
			</div>
		</div>
	{%- endif -%}
	{% if pagination.items|length %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				{{
					govukPagination(
						pagination
					)
				}}
			</div>
		</div>
	{% endif %}
{%- endblock -%}
